h1, h2 {
	text-align: center;
}

body {
	background-color: #aeaeae;
}

.brd {
	border: 4px solid;
	padding: 10px;
}

.header-1 {
	background: red;
	color: white;
}

.chapter-1 {
	background: white;
	color: yellow;
}

.chapter-2 {
	background: yellow;
	color: blue;
}

.chapter-3 {
	background: white;
	color: red;
}

.chapter-4 {
	background: blue;
	color: orange;
}

.chapter-5 {
	background: purple;
	color: green;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.line-through {
	text-decoration: line-through;
}

.italic {
	font-style: italic;
}